.warpper {
  width : 100vw;
  height : 100vh;
  display : flex;
  justify-content : center;
  align-items : center;
  flex-direction : column;
}

.button {
  background : #000000;
  color : #ffffff;
  padding : 12px 25px;
  text-decoration : none;
}
